* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #a0a0a0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

h3 {
  padding-bottom: 10px;
}

h4 {
  padding-bottom: 15px;
}

.left-container {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #3a3938;
  font-size: 1.5rem;
  padding-right: 20px;
}

.right-container {
  flex-grow: 1;
  max-width: 370px;
  height: 100%;
  background-color: #20201f;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

tag {
  font-family: monospace, sans-serif;
  background-color: #2b2b2b;
  padding: 2px 7px;
  font-size: 1.3rem;
}

@keyframes dance {
  0% {
    transform: matrix(1, 0, 0.05, 1, -1, 0);
  }
  50% {
    transform: matrix(1, 0, 0, 0.9, 0, 2);
  }
  100% {
    transform: matrix(1, 0, -0.05, 1, 1, 0);
  }
}
.dance {
  animation: dance 0.5s infinite alternate;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 5rem;
}

.game {
  width: 100%;
  height: 35%;
}
.game__branch {
  position: relative;
  width: 100%;
  height: 100%;
}
.game__branch:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/branch.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 110%;
}
.game__branch__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  bottom: 0;
}

bird {
  position: relative;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
}
bird:after {
  content: "";
  position: absolute;
  bottom: 38%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/bird.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

egg {
  position: relative;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
}
egg:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
egg.green:after {
  background-image: url("/src/assets/img/egg-green.png");
}
egg.pink:after {
  background-image: url("/src/assets/img/egg-pink.png");
}

nest {
  position: relative;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
nest:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/nest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
nest bird {
  top: -10%;
}
nest egg {
  left: 50%;
  transform: matrix(1, 0, 0, 1, 0, 0) translateX(-50%);
}

.editor {
  font-family: monospace, sans-serif;
  display: flex;
  width: 90%;
  height: 40%;
  border-radius: 3px;
  background-color: #20201f;
  margin-left: 20px;
  padding: 10px;
}

.css-panel {
  flex-basis: 50%;
  height: 100%;
}
.css-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  border-top: 1px solid #3a3938;
  border-left: 1px solid #3a3938;
  background-color: #2a2a2a;
}
.css-panel__window {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: calc(100% - 50px);
  background: #f7f7f7;
  color: #a0a0a0;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 5px 5px 5px 50px;
}
.css-panel__line-numbers {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  color: #a0a0a0;
  background: #dfdfdf;
}

.html-panel {
  flex-basis: 50%;
}
.html-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  border-top: 1px solid #3a3938;
  border-right: 1px solid #3a3938;
  background-color: #2a2a2a;
}
.html-panel__window {
  position: relative;
  height: calc(100% - 50px);
  border: 1px solid #3a3938;
  color: #a0a0a0;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 5px 50px;
}
.html-panel__line-numbers {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  border-right: 1px solid #3a3938;
  color: #a0a0a0;
}

.level-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.level-panel__header {
  height: 70px;
}
.level-panel__description {
  display: flex;
  flex-direction: column;
}

.description__syntax tag {
  font-size: 2rem;
  line-height: 7rem;
  padding: 8px 10px;
  border: 1px solid #333333;
}
.description__hint {
  padding-bottom: 30px;
}
.description__example {
  padding-bottom: 8px;
}

/*# sourceMappingURL=styles.css.map */
