* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #a0a0a0;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  padding-bottom: 10px;
}

h4 {
  padding-bottom: 15px;
}

.app-container {
  position: relative;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

.left-container {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #3a3938;
  font-size: 1.5rem;
  padding-right: 20px;
}

.right-container {
  position: fixed;
  top: 0;
  right: -100%;
  flex-grow: 1;
  max-width: 370px;
  height: 100%;
  background-color: #20201f;
  font-size: 1.5rem;
  line-height: 2.3rem;
  transition: 0.3s linear;
  overflow: hidden;
  z-index: 10;
}
.right-container.active {
  position: static;
  right: 0;
}

.tooltip {
  position: absolute;
}

tag {
  font-family: monospace, sans-serif;
  background-color: #2b2b2b;
  padding: 2px 7px;
  font-size: 1.3rem;
}

.tooltip {
  position: absolute;
  font-family: monospace, sans-serif;
  font-size: 1.8rem;
  color: #3a3938;
  background-color: #dfdfdf;
  padding: 10px;
  z-index: 10;
}

.shake {
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
.task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 5rem;
}

@keyframes dance {
  0% {
    transform: matrix(1, 0, 0.05, 1, -7, 0);
  }
  50% {
    transform: matrix(1, 0, 0, 0.9, 0, 13);
  }
  100% {
    transform: matrix(1, 0, -0.05, 1, 7, 0);
  }
}
.game {
  width: 100%;
  height: 35%;
}
.game__branch {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
}
.game__branch:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/branch.png");
  background-repeat: no-repeat;
  background-position: 150% 100%;
  background-size: 110%;
}
.game__branch__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 23%;
}

.game .hovered:after {
  filter: brightness(130%);
}

.game .dance {
  animation: dance 0.5s infinite alternate;
}

.game .fly {
  top: -60vh !important;
}

.game bird {
  position: relative;
  top: 0;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: top 0.1s linear;
  z-index: 1;
}
.game bird:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/bird.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.game bird.red {
  width: 14vw;
  height: 14vw;
}
.game bird.red:after {
  width: 100%;
  height: 100%;
  bottom: 5%;
  background-image: url("/src/assets/img/bird-red.png");
}
.game bird.blue {
  width: 14vw;
  height: 14vw;
}
.game bird.blue:after {
  width: 100%;
  height: 100%;
  bottom: 5%;
  background-image: url("/src/assets/img/bird-blue.png");
}

.game egg {
  position: relative;
  top: -5%;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: top 0.1s linear;
  z-index: 1;
}
.game egg:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/src/assets/img/egg-pink.png");
}
.game egg.green:after {
  background-image: url("/src/assets/img/egg-green.png");
}
.game egg.pink:after {
  background-image: url("/src/assets/img/egg-pink.png");
}
.game egg.red:after {
  background-image: url("/src/assets/img/egg-red.png");
}
.game egg.yellow:after {
  background-image: url("/src/assets/img/egg-yellow.png");
}
.game egg.purple:after {
  background-image: url("/src/assets/img/egg-purple.png");
}

.game nest {
  position: relative;
  width: 10vw;
  min-height: 10vh;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: top 0.1s linear;
}
.game nest:after {
  content: "";
  position: absolute;
  bottom: -35%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/nest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.game nest bird {
  position: absolute;
  top: -110%;
}
.game nest egg {
  position: absolute;
  top: -20%;
  left: 23%;
}
.game nest egg:nth-last-child(1) {
  top: -20%;
}
.game nest egg:nth-last-child(2) {
  top: -100%;
}
.game nest *:first-child {
  z-index: 2;
}

.editor {
  position: relative;
  top: 0;
  left: 0;
  font-family: monospace, sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 40%;
  border-radius: 3px;
  background-color: #20201f;
  margin-left: 20px;
  padding: 10px;
}

.css-panel {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
.css-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  border-top: 1px solid #3a3938;
  border-left: 1px solid #3a3938;
  background-color: #2a2a2a;
}
.css-panel__window {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: calc(100% - 50px);
  background: #f7f7f7;
  color: #a0a0a0;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 5px 5px 5px 50px;
}
.css-panel__line-numbers {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  color: #a0a0a0;
  background: #dfdfdf;
}

.html-panel {
  flex-grow: 1;
  overflow: hidden;
}
.html-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  border-top: 1px solid #3a3938;
  border-right: 1px solid #3a3938;
  background-color: #2a2a2a;
}
.html-panel__window {
  position: relative;
  height: calc(100% - 50px);
  border: 1px solid #3a3938;
  color: #a0a0a0;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 5px 50px;
}
.html-panel__window * {
  cursor: default;
}
.html-panel__line-numbers {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  border-right: 1px solid #3a3938;
  color: #a0a0a0;
}
.html-panel__line-numbers + div * {
  padding-left: 20px;
}
.html-panel__line-numbers + div *.hovered {
  color: #dfdfdf;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}
.navigation__top {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.navigation__level {
  flex-grow: 6;
}
.navigation__arrows {
  flex-grow: 2;
}
.navigation__arrow {
  background-color: transparent;
  color: #a0a0a0;
  border: none;
  outline-style: none;
  transition: 0.2s linear;
  cursor: pointer;
}
.navigation__arrow:hover {
  color: #dfdfdf;
}
.navigation__menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 27px;
  height: 20px;
  cursor: pointer;
  z-index: 11;
}
.navigation__menu-toggle.active:before {
  transform: rotate(45deg);
}
.navigation__menu-toggle.active:after {
  transform: rotate(-45deg);
}
.navigation__menu-toggle.active span {
  display: none;
}
.navigation__menu-toggle:hover span, .navigation__menu-toggle:hover:before, .navigation__menu-toggle:hover:after {
  background-color: #dfdfdf;
}
.navigation__menu-toggle:before {
  content: "";
  top: 0;
  transform-origin: left top;
}
.navigation__menu-toggle:after {
  content: "";
  bottom: 0;
  transform-origin: left bottom;
}
.navigation__menu-toggle span {
  top: 50%;
  transform: translateY(-50%);
}
.navigation__menu-toggle span, .navigation__menu-toggle:before, .navigation__menu-toggle:after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a0a0a0;
  transition: 0.2s linear;
}
.navigation__choose-level-button {
  background-color: #2a2a2a;
  color: #a0a0a0;
  border: none;
  outline-style: none;
  padding: 5px;
  transition: 0.2s linear;
  border-radius: 3px;
  cursor: pointer;
}
.navigation__choose-level-button:hover {
  background-color: #3a3938;
}

.level__check {
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  color: #3a3938;
}
.level__check.done {
  color: #62bd39;
}

.level-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
}
.level-panel__header {
  height: 70px;
}
.level-panel__description {
  display: flex;
  flex-direction: column;
}

.description__syntax tag {
  font-size: 2rem;
  line-height: 7rem;
  padding: 8px 10px;
  border: 1px solid #333333;
}
.description__hint {
  padding-bottom: 30px;
}
.description__example {
  padding-bottom: 8px;
}

.levels-navigation {
  height: 0;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  overflow: hidden;
  transition: 0.2s linear;
}
.levels-navigation.active {
  height: 100%;
}
.levels-navigation__item {
  padding: 5px;
  cursor: pointer;
}
.levels-navigation__item:hover {
  background-color: #272727;
}
.levels-navigation__item.active {
  background-color: #2a2a2a;
}
.levels-navigation__item > * {
  padding-right: 5px;
}
.levels-navigation .level__check {
  font-size: 1.6rem;
}

/*# sourceMappingURL=styles.css.map */
