.editor {
    position: relative;
    top: 0;
    left: 0;
    font-family: monospace, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    border-radius: 3px;
    background-color: $color-secondary;
    margin-left: 20px;
    padding: 10px;

    @include media-medium {
        flex-direction: column;
    }
}


.css-panel {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    @include media-medium {
        height: auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 50px;
        border-top: 1px solid $color-primary;
        border-left: 1px solid $color-primary;
        background-color: $color-dark;
    }

    &__window {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        height: calc(100% - 50px);
        background: $color-light-3;
        color: $color-light;
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 5px 5px 5px 50px;
    }

    &__line-numbers {
        display: flex;
        justify-content: flex-end;
        padding: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
        color: $color-light;
        background: $color-light-2;
    }

    &__input {
        flex-grow: 1;
        margin-right: 10px;
        line-height: 2.2rem;
        outline-style: none;
        border: none;
        background-color: transparent;

        &.highlighting {
            animation: highlighting .5s infinite;
        }
    }

    @keyframes highlighting {
        0% {
            background-color: transparent;
        }

        100% {
            background-color: $color-input;
        }
    }

    &__button {
        border: 1px solid $color-light;
        border-radius: 2px;
        outline-style: none;
        background-color: $color-light-2;
        color: $color-primary;
        padding: 0 5px;
        font-size: 1.2rem;
        line-height: 2rem;
        cursor: pointer;
    }
}

.html-panel {
    flex-grow: 1;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 50px;
        border-top: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
        background-color: $color-dark;
    }

    &__window {
        position: relative;
        height: calc(100% - 50px);
        border: 1px solid $color-primary;
        color: $color-light;
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 5px 50px;

        @include media-extra-small {
            font-size: 1.3rem;
            line-height: 1.6rem;
        }

        & * {
            cursor: default;
        }
    }

    &__line-numbers {
        display: flex;
        justify-content: flex-end;
        padding: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
        border-right: 1px solid $color-primary;
        color: $color-light;

        &+div * {
            padding-left: 20px;

            &.hovered {
                filter: brightness(150%);
            }
        }
    }
}

.highlight {
    font-weight: bold;
    padding: 0 !important;

    &_tag {
        color: rgb(84, 165, 77);
    }

    &_class {
        color: rgb(32, 103, 184);
    }

    &_class-name {
        color: rgb(230, 75, 134);
    }
}