.footer {
    display: flex;
    align-items: center;
    color: $color-light;
    padding: 10px 0;

    &>* {
        padding-right: 20px;
    }

    & *:last-child {
        padding-right: 0;
    }

    & img {
        height: 30px;
    }

    & a {
        color: $color-light;
    }
}