.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $color-light;
    padding: 10px 0;
    flex-basis: 10%;

    @include media-extra-small {
        font-size: 1.2rem;
    }

    &>:first-child {
        padding-left: 20px;
    }

    &>* {
        padding-right: 20px;
        line-height: 4rem;
    }

    & *:last-child {
        padding-right: 0;
    }

    & img {
        height: 30px;

        @include media-extra-small {
            height: 15px;
        }
    }

    & a {
        color: $color-light;
    }
}