@keyframes dance {
    0% {
        transform: matrix(1, 0, .05, 1, -7, 0);
    }

    50% {
        transform: matrix(1, 0, 0, .9, 0, 13);
    }

    100% {
        transform: matrix(1, 0, -.05, 1, 7, 0);
    }
}

.game {
    width: 100%;
    height: 35%;

    &__branch {
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('/src/assets/img/branch.png');
            background-repeat: no-repeat;
            background-position: 150% 100%;
            background-size: 110%;
        }


        &__container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 80%;
            left: 0;
            bottom: 23%;
        }

    }
}

.game .hovered:after {
    filter: brightness(130%);
}

.game .dance {
    animation: dance .5s infinite alternate;
}

.game .fly {
    top: -50vh !important;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -40%;
        display: block;
        width: 50%;
        height: 50%;
        transform: translateX(-50%);
        background-image: url('/src/assets/img/rocket-fire-flame.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }

}

.game bird {
    position: relative;
    top: 0;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: top 1s linear;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('/src/assets/img/bird.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


    &.red {
        width: 14vw;
        height: 14vw;

        &:before {
            transform: translate(-45%, -27%);
        }

        &:after {
            width: 100%;
            height: 100%;
            bottom: 5%;
            background-image: url('/src/assets/img/bird-red.png');
        }
    }
}

.game egg {
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: top 1s linear;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('/src/assets/img/egg-pink.png');
    }

    &.green:after {
        background-image: url('/src/assets/img/egg-green.png');
    }

    &.pink:after {
        background-image: url('/src/assets/img/egg-pink.png');
    }
}

.game nest {
    position: relative;
    width: 10vw;
    min-height: 10vh;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: top .5s linear;

    &:after {
        content: '';
        position: absolute;
        bottom: -35%;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('/src/assets/img/nest.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    & bird {
        top: -10%;
    }

    & egg {
        position: absolute;
        top: -20%;
        left: 23%;

        &:nth-last-child(1) {
            top: -20%;
        }

        &:nth-last-child(2) {
            top: -100%;
        }
    }

    & *:first-child {
        z-index: 2;
    }
}