.level-panel {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 5px 20px;

    &__header {
        height: 70px;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }
}

.description {

    &__syntax {
        & tag {
            font-size: 2rem;
            line-height: 7rem;
            padding: 8px 10px;
            border: 1px solid #333333;
        }
    }

    &__hint {
        padding-bottom: 30px;
    }

    &__example {
        padding-bottom: 8px;
    }

    &__help {
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        background-color: transparent;
        border: 2px solid $color-primary;
        color: $color-light;
        font-size: 1.8rem;
        line-height: 4rem;
        cursor: pointer;

        &:hover {
            background-color: $color-dark-2;
        }
    }
}