.level-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 20px;

    &__header {
        height: 70px;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }
}

.description {
    &__syntax {
        & tag {
            font-size: 2rem;
            line-height: 7rem;
            padding: 8px 10px;
            border: 1px solid #333333;
        }
    }

    &__hint {
        padding-bottom: 30px;
    }

    &__example {
        padding-bottom: 8px;
    }
}