$color-primary: rgb(58, 57, 56);
$color-secondary: rgb(32, 32, 31);
$color-light: rgb(160, 160, 160);
$color-light-2: #dfdfdf;
$color-light-3: #f7f7f7;
$color-dark: #2a2a2a;
$color-dark-2: #272727;
$color-dark-3: rgb(51, 51, 51);
$color-done: #62bd39;
$color-input: #d0e7c7;
$color-shadow: rgb(0, 0, 0, .6);

$content-width: 1480px;
$medium-width: 768px;
$small-width: 414px;